

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .centered_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
    }
    .navbar{
      background-color:#6ca8e4;
    }
  </style>
  <title>Cardiovascular Disease</title>
</head>

<body>
  <div class="container-flex">



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cardiovascular Disease Prediction System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor">Doctor
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts">Admin</a>
          </li>
          {% comment %} testimonial  {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="/doctorSignup">Admin</a>
          </li>
        </ul>
        <div class="ml-auto form-inline">
          <form class=" my-2 my-lg-0">
          </form>

          <!--check if user is authenticated then show thease button -->
          {% if user.is_authenticated %}


          <ul class="navbar-nav mr-2">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Welcome <strong> {{ request.user}}</strong>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">Logout</a>

              </div>
            </li>
          </ul>
          {% else %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
            Login
          </button>

          <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
            SignUp
          </button>

          {% endif %}
        </div>

      </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
      <strong>Message: </strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" arial-lable="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

  </div>

  <!--Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="/login" method="post">{% csrf_token %}
                  
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="loginusername" name="loginusername"
                          placeholder="User Name" required>
                  </div>
                  
                  <div class="form-group">
                      <label for="pass">Password</label>
                      <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                          placeholder="Choose your password" required>
                  </div>
                  
                  
                  <button type="submit" class="btn btn-primary">Log In</button>
              </form>
          </div>
          <div class="modal-footer">
              {% comment %} <button type="button" class="btn btn-success" href="/signup">Create New Account</button> {% endcomment %}
              {% comment %} <a class="nav-link" href="/signup">Create New Account</a> {% endcomment %}
              
              {% comment %} <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
                  SignUp
              </button> {% endcomment %}
              
          </div>
      </div>
  </div>
</div>

<!--SignUp Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="/doctorSignup" method="post">{% csrf_token %}
                  <div class="form-group">
                      <label for="fname">First Name</label>
                      <input type="text" class="form-control" id="doctor_fname" name="doctor_fname"
                          placeholder="First Name" required>
                  </div>
                  <div class="form-group">
                      <label for="lname">Last Name</label>
                      <input type="text" class="form-control" id="doctor_lname" name="doctor_lname"
                          placeholder="Last Name" required>
                  </div>
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="doctor_username" name="doctor_username"
                          placeholder="Choose a unique username" required>
                  </div>
                  <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="doctor_email" name="doctor_email"
                          placeholder="name@example.com" required>
                  </div>
                  <div class="form-group">
                      <label for="phone">Mobile No</label>
                      <input type="tel" class="form-control" id="phone" name="phone"
                          placeholder="Mobile No" required>
                  </div>
                      
                  <div class="form-group">
                      <label for="pass1">Confirm Password</label>
                      <input type="password" class="form-control" id="pass1" name="pass1"
                          placeholder="Enter your password" required>
                  </div>
                  <div class="form-group">
                      <label for="pass2">Confirm Password</label>
                      <input type="password" class="form-control" id="pass2" name="pass2"
                          placeholder="Enter your confirm password" required>
                  </div>
                  <div class="form-group">
                      <label for="address">Address</label>
                      <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                    </div>
                  
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
          </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>


  <div class="container-flex">
    {% load static %}
    <img src="{% static "images/img.jpg" %}" alt="My image" style="height:720px; width:100%">
    <div class="centered_img">Predict your Cardiovascular Disease Now</div>

  </div>
<!--Footer Section --> 
<!-- 
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer> -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>